* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
}

.header {
    position: fixed;
    display: flex;

    width: 100%;
    top: 0;

    align-items: center;

    justify-content: space-between;

}

.titulo {
    padding-left: 2%;
    font-size: 70px;
    color: rgb(136, 72, 179);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    flex: 1;
}

.foto_banner  {

    width: 100%;
    padding-top: 85px;

}
.header_nav {
    display: flex;
    position: fixed;
    background-color: white;
    width: fit-content;
}
.header_nav.sticky {
    background-color: rgb(255, 255, 255);
}
.header_nav:hover {
    background-color: rgb(255, 255, 255);
}
.menu {
    color: rgb(136, 72, 179);
    text-decoration: none;
    list-style: none;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header_nav {
    width: 100%;
    top: 0;
}
.ul1{
    margin-right: 42%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    gap: 20px;
}
li.menu:hover {
    border: 3px solid rgb(255, 205, 50);
    border-radius: 25px;
    padding: 10px;
    font-weight: bolder;
}
.promocao_banner{
    text-align: center;
    background-color: rgba(0, 0, 128, 0.613);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.promocao_banner {
    background-color: brown;
}
.container_div {
    display: flex;
    flex-direction: column ;
}
.section_produtos {
    max-width: fit-content;
    background-color:rgb(231, 231, 231); 
    border-radius: 2%;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding-bottom: 5px;
}
.preco_produt {
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 25px;
    opacity: 80%;
}
.content_produt {
    text-align: center;
}
.whatsapp {
    position: fixed;
    top: 90%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}
.preco_riscado {
    color: red;
    text-decoration: line-through;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
    opacity: 80%;
}
@media (min-width:100px) {
    .foto_banner {
        width: 100%;
    }
}
